doctype 5
html
  head
    link(rel='stylesheet', href='/app.css')
    script(src='/lib/angular/angular.min.js')
    script(src='/javascript/users.js')
    script(src='/javascript/websocket_multiplex.js')
    script(src="/lib/sockjs/sockjs.min.js")
    script(src="/lib/moment/min/moment.min.js")

  body
    block content
