doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/app.css')
    script(src='/lib/angular/angular.min.js')
    script(src="/lib/sockjs/sockjs.min.js")
    script(src="/lib/moment/min/moment.min.js")
    script(src='/javascript/websocket_multiplex.js')
    script(src='/javascript/polls.js')
  body(ng-app=true)
    .container
      block content
