doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap-css/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/angular/angular.min.js')
    script(src='/javascript/users.js')

  body
    block content