body
  padding:  50px
  font:     14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

input[type=text]
  font-size:  16px
  padding:    15px 10px !important
  width:      93%

label
  font-weight: bold

.polls
  input
    margin-right: 5px
  ul.poll-list
    list-style: none
    margin-left: 0
    margin-bottom: 50px
    li.btn
      padding:  25px 10px
      margin:   10px 0
      display:  block
      position: relative
      &:after 
        content:      '>'
        position:     absolute
        right:        5px
        top:          50%
        font-size:    28px
        color:        white
        text-shadow:  0px 0px 3px rgb(45,45,45)
      .name
        display: inline-block
        width:   200px
      .actions
        display: inline-block
  .create-poll
    .choices
      button
        padding: 15px 18px
    .btn-primary
      width: 100%
      padding: 15px 10px
      font-size: 24px
      border-radius: 5px
.poll
  .btn
    padding:  25px 10px
    margin:   10px 0
    display:  block
    position: relative