body
  padding:  50px
  font:     14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.user-list
  input
    margin-right: 5px
  li
    margin: 5px 0
    .name
      display: inline-block
      width:   200px
    .actions
      display: inline-block