extends ../layout

block content
  .polls(ng-controller='PollsCtrl')
    .all-polls(ng-show='polls.length')
      h2 I want to Vote on...
      ul.poll-list
        li.poll.btn.row(ng-repeat='poll in polls', ng-click="onPollClick(poll)")
          .name {{poll.name}}
          .actions(ng-show="isAdmin")
            button.btn(ng-click='deletePoll(poll)').btn Delete

    .create-poll
      h2 I want to ask...
      form.form.span12
        .row
          .control-group
            label.control-label
            .controls
              input(type='text', placeholder='A Question', ng-model='name')
        .row
          .control-group
            label.control-label With the following valid answers:
            .controls.choices
              ul.choice-list
                li.choice(ng-repeat='choice in choices') {{choice}}
              .input-append
                input.choice(ng-model='newChoice', type='text', placeholder='New Option')
                button.btn(ng-click='addChoice()') + 

        .row
          .control-group
            label.control-label It will expire in (minutes)
            .controls.expiry
              input(type='text', placeholder='20', ng-model='expiresIn')
        .row
          .control-group
            label.control-label I am
            .controls
              input(type='text', placeholder='Your Name', ng-model='creator')
        .row
          .control-group
            .controls
              button.btn.btn-primary(ng-click='addPoll(name, creator, expiresIn)')
                | Create Poll