extends ../layout

block content
  .polls(ng-controller='PollsCtrl')
    h2 Polls
    ul.poll-list(ng-repeat='poll in polls')
      li.poll.row
        a.name(href='/polls/{{poll.uri}}') {{poll.name}}
        .actions(ng-show="isAdmin")
          button.btn(ng-click='deletePoll(poll)').btn Delete


    form.form-horizontal.span12
      .row
        .control-group
          label.control-label Poll
          .controls
            input(type='text', placeholder='Poll Name', ng-model='name')
      .row
        .control-group
          label.control-label Created by
          .controls
            input(type='text', placeholder='Your Name', ng-model='creator')
      .row
        .control-group
          label.control-label Expires In
          .controls
            input(type='text', placeholder='Minutes', ng-model='expiresIn')
      .row
        .control-group
          label.control-label Possible choices:
          .controls
            ul.choices
              li.choice(ng-repeat='choice in choices') {{choice}}
            input.choice(ng-blur='addChoice()', ng-model='newChoice', type='text', placeholder='New Option')
      .row
        .control-group
          .controls
            button.btn-primary(ng-click='addPoll(name, creator, expiresIn)')
              | Create Poll