extends ../layout

block content
  script(src='/javascript/poll.js', type='text/javascript')

  .poll(ng-controller='PollCtrl')
    h2 {{poll.name}}

    .form(ng-show='counter.seconds')
      input(type='text', ng-model='voter', placeholder='Your name...')

      dl.btn(ng-repeat='choice in poll.choices', ng-click='lodgeVote(choice)')
        dt {{choice.text}}
        dd.tally-bar(style='width:{{choice.score.percentile}}%')
        dd.tally(ng-bind-template='{{choice.score.total}} ({{choice.score.percentile}} %)') 

      h4 Voting open for {{poll.expires}} minutes
      .timer(ng-bind-template="{{counter.seconds}} seconds remaining")

      h4 Activity
      ul(ng-repeat='vote in poll.votes')
        li(ng-bind-template='{{vote.voter}} voted  at {{vote.createdAt}}')

    .closed(ng-show='!counter.seconds')
      strong has expired and won't be taking any more votes...
      ul.results
        li.row(ng-repeat='choice in poll.choices')
          label.span9 {{choice.text}}
          span.span3(ng-bind-template='{{choice.score.total}} ({{choice.score.percentile}} %)')