extends ../layout

block content
  script(src='/javascript/poll.js', type='text/javascript')

  .poll(ng-controller='PollCtrl')
    h2 {{poll.name}}

    input(ng-model='voter', placeholder='Your name...')

    dl(ng-repeat='choice in poll.choices', ng-click='lodgeVote(choice)')
      dt {{choice.text}}
      dd(ng-bind-template='{{choice.score.total}} ({{choice.score.percentile}} %)') 

    a(href="/polls/#{poll.uri}/vote")
    h4 Voting ends {{poll.expires}}

    h4 Details
    ul(ng-repeat='vote in poll.votes')
      li(ng-bind-template='{{vote.voter}} voted  at {{vote.createdAt}}')

